*,
*::after,
*::before {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ECEEF1;
  height: 90px;
  width: 1190pox;
}

.logo {
  background-color: grey;
  height: 50px;
  width: 60px;
  border-radius: 7px;
}

.header-link {
  background-color: rgb(173, 173, 173);
  width: 100px;
  height: 50px;
  border-radius: 7px;
}

.header-link2 {
  width: 100px;
  height: 50px;
  background-color: grey;
  border-radius: 7px;
}

.search-bar {
  background-color: grey;
  height: 55px;
  width: 280px;
  border-radius: 7px;
  margin-left: 80px;
}

/* Latest articles */
.heading {
  height: 50px;
  width: 25%;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
}

.sub-heading {
  height: 50px;
  width: 14.5%;
  background-color: grey;
  margin-left: auto;
  margin-right: auto;
}

.latest-articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.article {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 350px;
  padding: 5rem;
}

.article-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.avatar {
  width: 86px;
  height: 86px;
  background-color: #adadad;
  transform: rotate(-5deg);
  margin-right: 1rem;
  border-radius: 10px;
}

.name {
  flex: 1;
  height: 35px;
  background-color: #adadad;
  margin-left: 5px;
}

.article-body {
  display: flex;
  flex-direction: column;
}

.article-line {
  width: 100%;
  height: 35px;
  background-color: #adadad;
  margin-bottom: 10px;
}
.membership
{
 display: flex;
 position: relative;
 height: 440px;
 width: 100%;
 background-color: #adadad;
 padding: 50px;
}
.membership-body
{
 height: 390px;
 width: 65%;
 background-color: #adadad;
}
.membership-line    
{
 width: 600px;
 height: 15px;
 margin: 40px;
 background-color: grey;
}
.button
{
 width: 375px;
 height: 55px;
 background-color: grey;   
 margin-left: 40px;
 border-radius: 7px;
}
.image
{
 position: absolute;
 right: 10%;
 top: -15%;
 height: 342px;
 width: 250px;
 background-color: grey;
}
.latest-posts
{
 display:grid;
 grid-template-columns:400px 400px 400px;
 background-color: grey;
 height: 630px;
}
.post
{
 width: 400px;
 height: 100%;
 background-color: #ECEEF1;
}

.post-header
{
 width: 340px;
 height: 100px;
 background-color: grey;
 margin-top:45px;
 margin-left:45px;
}
.post-description
{
width: 310px;
height: 180px;
background-color: grey;
margin-top:45px;
margin-left:45px;
}
.members
{
 height: 715px;
 width: 100%;
 display: grid;
 grid-template-columns: 335px 736px;
}
.shopify
{
 background-color: grey;   
 margin-left: 45px;
 height: 200px;
 border-radius: 7px;

}
.shopify-header
{
 margin-top: 15px;   
 width: 200px;
 height: 25px;
 margin: 20px auto;
 background-color: #adadad;
}
.shopify-text
{
 width: 270px;
 height: 50px;
 background-color: #adadad;
 margin: 20px auto;
}
.shopify-button
{
 width: 125px;
 height: 37px;
 background-color: #adadad;    
 margin: 20px auto;
 border-radius: 7px;

}
.smashing-members
{
 height: 639px;
 background-color: grey;
 margin-left: 20px;
 border-radius: 7px;
}
.smashing-avatar
{
 width: 225px;
 height: 225px;
 background-color:  #adadad;
 border-radius: 50%;
 margin-top: 40px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 30px;
}
.smashing-header
{
 width: 495px;
 height: 37px;
 background-color:  #adadad;
 margin-left: auto;
 margin-right: auto;
}
.smashing-text
{
 width: 597px;
 height: 80px;   
 background-color:  #adadad;
 margin-top: 20px;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 25px;
}
.smashing-button
{
 width: 209px;
 height: 55px;
 background-color:  #adadad;
 margin-left: auto;
 margin-right: auto;
 border-radius: 7px;

}